<app-title-component [enterTitle]="enterTitle"></app-title-component>
<div class="container">
    <form [formGroup]="newRecipientForm" class="form-container">
        <mat-card class="size-card">
            <div class="row">
                <app-autocomplete-component [dataSource]="arrayRecipient"
                (newItemEvent)="getObjetFromAutocomplete($event)"
                ></app-autocomplete-component>
            </div>

            <div class="row" *ngIf="booleanEmit">
                <div class="size_title">
                    <label class="separate"><b>Detalle Destinatario</b></label>
                </div>
                <div class="separate">
                    <label><b>Nombre: </b></label>
                    <label> {{ newRecipient.fullName }}</label>
                </div>
                <div class="separate">
                    <label><b>Correo: </b></label>
                    <label> {{ newRecipient.email }}</label>
                </div>
                <div class="separate">
                    <label><b>Banco:</b></label>
                    <label> {{ newRecipient.bankId }}</label>
                </div>
                <div class="separate">
                    <label><b>Tipo de Cuenta:</b></label>
                    <label> {{ newRecipient.typeAccount }}</label>
                </div>
                <div class="row">
                    <mat-form-field  appearance="fill">
                        <mat-label>Monto</mat-label>
                        <input 
                        type="number"
                        [class.is-invalid]="amountValid"
                        (keyup)="amountValidation($event)"
                        formControlName="amount" matInput placeholder="Ej: 1000000" min="1" 
                        required>
                        <small *ngIf="amountValid" class="text-danger">monto debe ser mayor que cero</small>
                    </mat-form-field>
                </div>
            </div>


            <div class="button_row">
                <button type="submit" 
                class="desktot-width" 
                (click)="saveForm()" 
                [disabled]="newRecipientForm.invalid"
                mat-flat-button color="primary">Transferir</button>
            </div>
        </mat-card>
    </form>
</div>